################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMSBIZZ.Tests/bin/Debug
/IMSBIZZ.Tests/obj/Debug
/IMSBIZZ/obj/Debug
