
@*@section header
    {
    <style type="text/css">
        .validationMessage {
            color: #f00;
        }

        .invalidRow {
            background-color: #ffb8b5;
        }
    </style>
}*@
<div id="CreateBatch" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Creat Batch
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Create Batch</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Create Batch
                    </div>

                    @Html.AntiForgeryToken()
                    <div class="box-body">

                        <br /><br />
                        <div class="form-group">
                            <div class="control-label col-md-3">
                                <label>Batch Name</label>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-md-9">
                                <input  type="text" id="txtBatchName" placeholder="Enter Batch Name" class="form-control" data-bind="value: BatchName" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="control-label col-md-3">
                                <label>Is Active</label>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-md-9">
                                <input type="checkbox" id="chkIsActive"  data-bind="checked: IsActive" />
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="col-md-offset-3 col-md-10">
                                <input type="button" value="Save" class="btn btn-primary" id="btnSave" data-bind="click:Create"  />
                                <input type="button" value="Reset" class="btn btn-danger" data-bind="click: Reset" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </section>
</div>
@section Scripts {
    <script src="~/Areas/MasterArea/Scripts/Batch/Create.js"></script>
}


