@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>E-PassBook</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/Landingpagecss/Logincss.css" rel="stylesheet" />

</head>
<body>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xm-8">
        <div class="col login-sec">
            <h2 class="text-center">Reset your password</h2>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post, new { @id = "frmSubmit" }))
            {
                @Html.AntiForgeryToken()
                <div style="display:none;">

                    <input type="text" id="fake_username" />

                    <input type="password" id="fake_password" />

                </div>
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Enter Your Registered Email</label>
                        @Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Enter Your Email", @id = "email" })
                    </div>
                    <button type="submit" class="btn btn-login float-right" id="btnSubmit" onclick="return validateMail()">Submit</button>
                </form>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


    @if (ViewBag.Error != null)
    {

    }

    <script type="text/javascript">
        window.onload = function () {
            debugger;
            var messages = ViewBag.Error;
            alert(messages);
            //alert("Email does not exist");
        };

        function validateMail() {
            debugger;
            var email = $('#email').val();
            if (email == '') {
                alert("Please enter you registered Email");
                return false;
            }
            var pattern = new RegExp(/^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/);
            var isValid = pattern.test(email);
            if (!isValid) {
                alert("Invalid Email");
                return false;
            }
            else {
                return true;
            }

            //isValidEmailAddress(email);
        }

        function isValidEmailAddress(emailAddress) {
            
        }
    </script>

    @*<script>
            window.onload = function () {
                debugger
                var messages = ViewBag.Error;
                if (messages != null) {
                    alert(messages);
                }
            }

        </script>*@

</body>
</html>
